body {
    font-family: Arial;
    margin: 0;
  }
  header {
      padding: 10px;
    background: #1abc9c;
    color: white;
    font-size: 15px;
  }
  
  .threeItems {
      display: flex;
      margin-top: 40px;
      justify-content: space-evenly;
  
      
      
  }
  
  /* BANKER SECTION */
  .banker {
      background-color: #D3D3D3;
      width: 250px;
  
      height: 205px;
  
  
      
  }
  #joe {
      text-align: center;
  }
  .balance {
      display: flex;
      justify-content: space-evenly;
  }
  
  .getLoanButton {
      display: flex;
  
      justify-content: center;
  }
  /* END OF BANKER SECTION  */
  
  /* START OF WORK SECTION */
  .work {
      background-color: #D3D3D3;
      width: 250px;
      height: 205px;
  
  }
  
  .textWork {
      text-align: center;
  }
  .pay {
      display: flex;
      justify-content: space-evenly;
  }
  
  .buttonsWork {
      display: flex;
      justify-content: space-evenly;
  }
  
  /* START OF LAPTOP SECTION */
  
  .computers {
      background-color: #D3D3D3;
      width: 250px;
      height: 205px;
      text-align: center;
  }
  
 .detailsComputer {
     margin-top: 40px;
     display: flex;
     justify-content: center;
     justify-content: space-evenly

     
 }

 #computer-image {
     height: 200px;
 }

 .titleWithspecs {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     
 }

 